/* CSS FOR ENTIRE SITE */

* {
  /* RESET MARGINS AND PADDING */
  padding: 0;
  margin: 0;

  /* CHANGE FONT */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* INCLUDE PADDING/BORDERS IN ELEMENTS TOTAL LENGTH/WIDTH */
  box-sizing: border-box;
}

a {
  /* REMOVES UNDERLINE FOR ALL LINKS */
  text-decoration: none;
}

body {
  /* CENTER ITEMS HORIZONTALLY  */
  justify-content: center;
}

main {
  /* CONSTRAIN CONTENT HEIGHT */
  min-height: 100vh;
  
  /* ADJUSTS PADDING (FIRST VALUE IS TOP/BOTTOM, SECOND IS LEFT/RIGHT) */
  padding: 0 4rem;

  /* SET FLEXIBLE LENGTH ON FLEXIBLE ITEMS */
  flex: 1;

  /* DISPLAYS ELEMENTS IN BLOCK-LEVEL FLEX CONTIAINER */
  display: flex;
  
  /* MAKE FLEX ITEMS STACK (VERTICAL) */
  flex-direction: column;

  /* CENTER ITEMS VERTICALLY  */
  align-items: center;
}

/* HEADER TEXT */
header {
  /* CHANGES HEIGHT OF A LINE (SPACING) */
  line-height: 1.15;

  /* CHANGES FONT SIZE */
  font-size: 2.3rem;
  
  /* CENTERS TEXT */
  text-align: center;

  padding-bottom: 0;
}

/* STYLE BINARY AND HEART COLORS */
.binary {
  color: #2F4A70;
}
.heart {
  color: #ff0040;
}

/* -------------------- */

/* STYLE GRID OF LINK CARDS (HOME PAGE, CONTACT PAGE, ETC.) */
.grid {
  /* DISPLAYS ELEMENTS IN BLOCK-LEVEL FLEX CONTIAINER */
  display: flex;

  /* CENTER ITEMS VERTICALLY AND HORIZONTALLY  */
  align-items: center;
  justify-content: center;

  /* ALLOWS ITEMS TO STACK */
  flex-wrap: wrap;

  /* LIMITS MAXIMUM WIDTH OF THE GRID OF CARDS */
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

/* CHANGES COLOR OF THE BOX AND TEXT WHEN HOVERING OVER/CLICKING ON CARD */
.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

/* STYLES THE HEADER IN THE CARD */
.card h2 {
  /* BOTTOM MARGIN */
  margin: 0 0 1rem 0;

  /* CHANGES FONT SIZE */
  font-size: 1.5rem;
}

/* STYLES THE TEXT IN THE CARD */
.card p {
  /* CHANGES FONT SIZE */
  font-size: 1.25rem;

  /* CHANGES HEIGHT OF A LINE (SPACING) */
  line-height: 1.5;
}

/* -------------------- */

/* HOME PAGE */
/* STYLES HOME PAGE PARAGRAPH */
.description {
  /* CHANGES TOP AND BOTTOM MARGIN */
  margin: 4rem 0;
  
  /* CHANGES HEIGHT OF A LINE (SPACING) */
  line-height: 1.5;

  /* CHANGES FONT SIZE */
  font-size: 1.5rem;

  /* ADDS PADDING AROUND BOTH SIDES OF THE TEXT */
  padding-left: 5rem;
  padding-right: 5rem;

  /* CHANGES HORIZONTAL ALIGNMENT OF TEXT */
  text-align: left;
}